[Unit]
Description=Bluetooth hciattach service

[Service]
Type=simple
ExecStart=/usr/bin/rtk_hciattach -n -s 115200 ttyS0 rtk_h5
Restart=on-failure

[Install]
WantedBy=multi-user.target
